<?xml version='1.0' encoding='utf-8'?>
<widget id="com.yongye.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>雍也</name>
    <description>雍也视频聚合应用</description>
    <author email="app@yongye.com" href="https://yongye.com">雍也团队</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="loadUrlTimeoutValue" value="70000" />
    <preference name="android-hardwareAccelerated" value="true" />
</widget>